<div id="wrapper">
    <menu-bar (groupSelected)="onGroupSelected($event)" [noNodeExsit]="isOrgNodeEmpty" [currentOrgNodeStatus]="currentOrgNodeStatus" (isMenuEnable)="onMenuSettingsChange($event)" [orgNodes]="orgNodes">
    </menu-bar>
    <div *ngIf="orgGroup">
        <div class="modes_wrap">
            <ul>
                <li [ngClass]="buildView" class="nav_build" (click)="changeViewModeNav(1)"><a> Build</a></li>
                <!--<li [ngClass]="exploreView" class="nav_explore" (click)="changeViewModeNav(2)"><a>Explore (Beta)</a></li>-->
                <li [ngClass]="reportView" class="nav_report" (click)="changeViewModeNav(3)"><a>Report</a> </li>
            </ul>
        </div>
        <div class="main_canvas" (window:resize)="onResize($event)">
            <org-tree [treeData]="treeJson" [width]="svgWidth" [height]="svgHeight" [currentMode]="currentChartMode" [isAddOrEditModeEnabled]="isAddOrEditMode" (selectNode)="onNodeSelected($event)" (switchToAddMode)="onSwitchedToAddMode($event)" [showFirstNameLabel]="displayFirstNameLabel"
                [showLastNameLabel]="displayLastNameLabel" [showDescriptionLabel]="displayDescriptionLabel" [orgGroupID]="orgGroup.OrgGroupID" [CompanyID]="companyID" [isMenuSettingsEnabled]="isMenuSettingsEnabled" [searchNode]="searchedNode" (moveNode)="onNodeMoved($event)"
                [isNodeMoveEnabledOrDisabled]="isNodeMoveEnabled" (isNodeMoveDisabled)=" onNodeMoveEnabledOrDisabled($event)" [isFeedbackInEditMode]="isFeedbackInEditMode" [isHorizontalViewEnabled]="isHorizontalViewEnabled">
            </org-tree>
            <div *ngIf="currentChartMode===1">
                <smart-bar [treeJsonData]="orgGroup.OrgNodes" (nodeSearched)="onNodeSearched($event)" [selectedOrgNode]="selectedNode" [isEditModeEnabled]="isEditModeEnable" (deleteNode)="onNodeDeleted($event)" (updateNode)="onNodeUpdated($event)" (addNode)="onNodeAdded($event)"
                    (chartStructureUpdated)="onChartUpdated($event)" (isSmartBarEnabled)="smartBarEnabled($event)" [orgGroupID]="orgGroup.OrgGroupID" [isNodeMoveEnabledOrDisabled]="isNodeMoveEnabled" (isNodeMoveDisabled)=" onNodeMoveEnabledOrDisabled($event)"
                    (moveNode)="onNodeMoved($event)" [isMenuSettingsEnabled]="isMenuSettingsEnabled">
                </smart-bar>
            </div>
        </div>
        <side-panel [selectedOrgNode]="selectedNode" [currentMode]="currentChartMode" [companyName]="orgGroup.GroupName" (showFirstNameLabel)="enableFirstNameLabel($event)" (showLastNameLabel)="enableLastNameLabel($event)" (showDescriptionLabel)="enableDescriptionLabel($event)"
            [svgWidth]="svgWidth" [svgHeight]="svgHeight" [orgChart]="orgGroup" (deleteNode)="onNodeDeleted($event)" (updateNode)="onNodeUpdated($event)" (updateNodeAndDeleteNode)="onUpdateNodeAndDeleteNode($event)" [isMenuSettingsEnabled]="isMenuSettingsEnabled"
            [isSmartBarAddEnabled]="isSmartBarEnabled" (isEditEnabled)="isEditEnabled($event)" (isNodeMoveEnabledOrDisabled)="onNodeMoveEnabledOrDisabled($event)" [isNodeMoveDisabled]="isNodeMoveEnabled" (isFeedbackInEditMode)="feedbackPanelInEditMode($event)"
            (isHorizontalViewEnabled)="onHorizontalViewChanged($event)"></side-panel>
    </div>
    <div *ngIf="!orgGroup">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Fetching details...</p>
        </div>
    </div>
</div>