  .a0-close {
      display: none;
  }
  
  .node {
      cursor: pointer;
  }
  
  node circle {
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
      stroke: none;
  }
  
  .node text {
      font-family: Roboto, sans-serif;
      font-size: 10.5px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      text-transform: capitalize;
  }
  
  .node text#abbr {
      fill: #FFF;
      text-transform: uppercase;
  }
  
  .node .stagedCircle~text#abbr {
      font-weight: normal;
  }
  
  .node .label text {
      font-size: 13px;
      font-weight: bold;
      fill: #979797;
      white-space: pre;
      text-overflow: ellipsis;
  }
  
  .node .label text[data-id="description"] {
      font-size: 10px;
      font-weight: normal;
  }
  
  .link {
      fill: none;
      stroke: #979797;
      stroke-width: 1px;
  }
  
  .chart {
      background: #eee;
      padding: 3px;
  }
  
  .chart div {
      width: 0;
      transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
  }
  
  .chart div {
      font: 0.75em sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 5px;
      color: white;
      box-shadow: 2px 2px 2px #666;
  }
  
  .title {
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .reporteeNode {
      cursor: pointer;
  }
  
  .buildMode .selectedCircle {
      fill: #0097FF;
  }
  
  .reportMode .selectedCircle {
      fill: #ffffff;
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 0.1);
  }
  
  .reportMode .selectedCircle+text#abbr {
      fill: #4A4A4A !important;
  }
  
  .stagedCircle {
      fill: #FFFFFF;
      stroke: #0097FF;
      stroke-width: 2;
  }
  
  .defaultCircle {
      fill: #CFD8DC;
  }
  
  .new-peer_reportee-circle {
      fill: #FAFAFA;
      stroke: #CFD8dC;
      stroke-width: 1;
      stroke-dasharray: 2, 2;
      cursor: pointer;
  }
  
  .new-peer_reportee-innerText {
      font-size: .75em;
      fill: #B6B6B6;
      text-anchor: middle;
      fill-opacity: 1;
      cursor: pointer;
  }
  
  .new-peer_reportee-outerText {
      font-size: 0.62em;
      fill: #CFD8dC;
      text-anchor: middle;
      fill-opacity: 1;
  }
  
  polygon[data-id='childIndicator'] {
      stroke: transparent;
  }
  
  path.vertical,
  path.horizontal {
      opacity: 0.3;
  }
  
  .main-canvas svg {
      margin: 5px auto 0;
      display: block;
  }
  
  .tabs .indicator {
      background-color: transparent !important;
  }
  /* Let's get this party started */
  
   ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
  }
  
   ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
  }
  
   ::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #666666;
      border-radius: 50px;
  }
  
   ::-webkit-scrollbar-thumb:hover {
      background: #666666;
  }
  
   ::-webkit-scrollbar-thumb:active {
      background: #666666;
  }
  
   ::-webkit-scrollbar-track {
      background: #666666;
      border: 0px none #666666;
      border-radius: 50px;
  }
  
   ::-webkit-scrollbar-track:hover {
      background: #ffffff;
  }
  
   ::-webkit-scrollbar-track:active {
      background: #ffffff;
  }
  
   ::-webkit-scrollbar-corner {
      background: transparent;
  }