.node {
  cursor: pointer;
}

node circle {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

.node circle text {
  text-transform: uppercase;
}

.node text {
  font: 10px sans-serif;
  fill: #FFF;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


.chart {
  background: #eee;
  padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
}

.new-peer-circle{
    fill: #FAFAFA;
    stroke :#B6B6B6;
    stroke-width:1;
    stroke-dasharray:2,2
}

.new-peer-innerText{
      font-size:.75em;
      fill:#B6B6B6;
      text-anchor:middle;
      fill-opacity: 1;
}

.new-peer-outerText{
     font-size:0.62em;
     fill:#B6B6B6;
     text-anchor:middle;
     fill-opacity: 1;
}