.sideNav {
    position: fixed;
    right: 0;
    top: 55px;
    height: 100%;
    width: 0;
    transition: 0.5s;
    font-size: 13px;
    max-width: 240px;
}

.sideNav i {
    font-size: 1.3rem;
    line-height: 1.53em;
}

.sideNav hr {
    width: 100%;
    height: 1px;
    background-color: #607d8b;
    background-color: var(--blue-grey);
    border: none;
    margin: 0;
}

.sideNav button {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #607d8b;
    background-color: var(--blue-grey);
    color: #fff;
    border: none;
    height: 30px;
}

.sideNav i.left {
    margin: 0 8px;
}

.sideNav .menuButton {
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
    width: 30px;
}

.sideNav .menuButton a {
    color: #fff;
    background: #607D8B;
    border: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
    overflow: initial;
    padding: 0;
}

.sideNav .menuButton a>i {
    padding: 0 5px;
}

.sideNav .menuButton a::after {
    content: '';
    display: block;
    position: absolute;
    left: -35%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 10px solid #607D8B;
    border-bottom: 14px solid transparent;
    border-right: 0;
    transform: rotate(180deg);
}

.sideNav #menuPanel {
    position: relative;
    width: 3px;
    height: 100%;
    z-index: 10000;
    background-color: #455a64;
    background-color: var(--slate);
    overflow-x: scroll;
    transition: 0.5s;
}

.sideNav .closebtn {
    width: 30px;
    height: 30px;
    background-color: #607d8b;
    background-color: var(--blue-grey);
    border: 0;
}

.sideNav .editbtn,
.deletebtn {
    width: 30px;
    height: 30px;
    background-color: #607d8b;
    background-color: var(--blue-grey);
    border: 0;
}

.sideNav .editbtn i,
.deletebtn i {
    font-size: 0.99rem;
    line-height: 1.53em;
}

.editbtn {
    right: 1px;
}

.sideNav .menuTitle {
    padding-left: 15px;
    font-size: 0.9em;
    font-weight: 700;
    color: #607d8b;
    color: var(--blue-grey);
}

.sideNav p.lblName {
    margin: 0;
    font-size: 1.3em;
    font-weight: 500;
    color: #cfd8dc;
    color: var(--silver);
    line-height: initial;
}

.sideNav p.lblJobTitle {
    margin: 0;
    font-weight: 400;
    color: #b6b6b6;
    color: var(--greyish);
    line-height: initial;
}

.sideNav .labelWrap {
    padding: 15px 30px 15px 50px;
    width: 250px;
}

.sideNav .labelWrap .collection {
    border: none;
}

.sideNav .labelWrap .collection .collection-item {
    padding: 3px 0;
    border: none;
    background-color: transparent;
    min-height: 10px;
}

.sideNav .labelWrap .collection .collection-item .secondary-content {
    color: #b6b6b6;
    color: var(--greyish);
    float: none;
    top: 3px;
    right: inherit;
    font-size: 1em;
}

.sideNav .lblReport {
    color: #b6b6b6;
    color: var(--greyish);
    width: 115px;
    display: inline-block;
}

.sideNav .checkBoxList {
    margin: 25px 35px;
}

[type="checkbox"].filled-in:checked+label:after {
    width: 18px;
    height: 18px;
    border: 2px solid #0097FF;
    border: 2px solid var(--azure);
    background-color: #0097FF;
    background-color: var(--azure);
    font-size: 0.9em;
    color: #b6b6b6;
    color: var(--greyish);
    border-radius: 0;
}

[type="checkbox"]+label {
    color: #b6b6b6;
    color: var(--greyish);
    padding-left: 25px;
    display: block;
    font-size: 0.9rem;
    line-height: normal;
}

[type="checkbox"].filled-in:checked+label:before {
    left: 3px;
    width: 5px;
    height: 10px;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 18px;
    width: 18px;
    border: 2px solid #ffffff;
    border: 2px solid var(--white-text);
}

.sideNav .tabList {
    padding-top: 250px;
}

.disabled a {
    text-align: center;
    padding-top: 5px;
    opacity: 0.5;
}

a {
    text-align: center;
    padding-top: 3px;
}

.tabControl {
    margin-top: 150px;
    z-index: 0;
}

ul.tabs {
    background-color: transparent;
    height: 25px;
    cursor: default;
    font-size: 0.8rem;
    overflow: hidden;
}

ul.tabs .tab a.active {
    color: #fff;
    background-color: #455a64;
    background-color: var(--slate);
    height: 41px;
    cursor: pointer;
    border-top: 3px solid #607d8b;
    border-top: 3px solid var(--blue-grey);
}

ul.tabs .tab a {
    color: #ffffff;
    color: var(--white-text);
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
    border-top: 3px solid #607d8b;
}

ul.tabs .tab {
    background-color: #607d8b;
    line-height: normal;
    text-transform: none;
    height: inherit;
    cursor: pointer;
}

#feedbackPanel {
    position: fixed;
    bottom: 0px;
    min-height: 35px;
    height: 0;
    background-color: #607D8B;
    transition: 0.5s;
    color: #DFE5E7;
    z-index: 1;
    font-size: 14px;
}

#feedbackPanel .feedbackTitle {
    cursor: pointer;
}

#feedbackPanel .feedbackTitle span {
    vertical-align: super;
}

#feedbackPanel textarea {
    background-color: #536D79;
    border: 1px solid #536D79;
    border-radius: 10px;
    width: 90%;
    height: 8rem;
    margin: 0px 10px;
    resize: none;
    padding: 10px;
}

#feedbackPanel .divider {
    background-color: #8B8E90;
}

#feedbackPanel button {
    top: 5px;
    right: 15px;
    padding: 1px 15px 0px 5px!important;
}

#feedbackPanel .waves-effect {
    background-color: #0097FF;
    background-color: var(--azure);
    font-size: 0.98rem;
    border-radius: 0px;
    height: 30px;
    line-height: 30px;
}

#feedbackPanel .btn i {
    margin-top: 0;
}

#feedbackPanel i {
    font-size: 1.3rem;
    line-height: 1.53em;
    margin: 3px 8px;
    color: #FBFBFC;
}

#publishData {
    display: none;
    text-align: center;
    margin-top: 15px;
}

#publishData .title {
    color: #B6B6B6;
    font-size: 1.278em;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442;
    /* red */
}

.edit-name {
    padding: 20px 0 0 30px;
    max-width: 238px;
}

.title-name-edit {
    width: 90px;
    border: none;
    display: inline-block;
    padding: 1px 2px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title-position-edit {
    width: 187px;
    border: none;
    padding: 1px 2px;
    display: block;
    margin-top: 2px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.2);
}