<div class="sideNav fixed">
    <div class="menuButton">
        <a class="waves-effect waves-light" (click)="openPanel()"><i class="material-icons">folder_shared</i></a>
    </div>

    <div id="menuPanel" class="right">
        <div style="min-height: 600px;">
            <div>
                <button class="waves-effect waves-light closebtn" (click)="closePanel()"><i class="material-icons">close</i></button>
                <hr/>
            </div>
            <div *ngIf="currentMode===1">
                <div>
                    <button class="waves-effect waves-light deletebtn right" (click)="onDeleteNodeClicked()"> <i class="material-icons">{{deleteOrClose}}</i></button>
                </div>
                <div>
                    <button class="waves-effect waves-light editbtn right" (click)="onEditNodeClicked()"><i class="material-icons">{{editOrSave}}</i></button>
                </div>
            </div>
            <label class="menuTitle">Resource</label>
            <div class="detail-wrap">
                <form #orgform="ngForm" *ngIf="selectedOrgNode" (ngSubmit)="onSubmit()">
                    <div *ngIf="selectedNode && isEditModeEnabled" class="form-group text-wrap">
                        <input type="text" class="h-1 title-name-edit form-control firstName" (keyup)="onInputKeyDownOrUp($event,firstName)" ngControl="firstName" #firstName="ngModel" [ngModel]="editNode.NodeFirstName" placeholder="First Name" name="firstName" autocomplete="off"
                        />
                        <input type="text" class="h-1 title-name-edit form-control" (keyup)="onInputKeyDownOrUp($event,lastName)" ngControl="lastName" #lastName="ngModel" [ngModel]="editNode.NodeLastName" placeholder="Last Name" name="lastName" autocomplete="off" />
                        <input type="text" class="h-3 title-position-edit form-control" (keyup)="onInputKeyDownOrUp($event,description)" ngControl="description" #description="ngModel" [ngModel]="editNode.Description" placeholder="Description" name="description" autocomplete="off"
                        />
                    </div>
                </form>
            </div>

            <div *ngIf="selectedNode && !isEditModeEnabled" class="labelWrap">
                <p class="lblName"> {{selectedNode.NodeFirstName}} {{selectedNode.NodeLastName}}</p>
                <p class="lblJobTitle"> {{selectedNode.Description}} </p>
            </div>
            <div *ngIf="currentMode===1 || currentMode===2">
                <label class="menuTitle">Stats</label>
                <hr/>
                <div class="labelWrap">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <p class="lblReport">Direct Reports </p>
                            <label class="secondary-content">{{directReportees}}</label>
                        </li>
                        <li class="collection-item avatar">
                            <p class="lblReport">Total Reports </p>
                            <label class="secondary-content">{{totalReportees}}</label>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>

            <div *ngIf="currentMode===3">
                <hr/>
                <label class="menuTitle">Settings</label>
                <div class="checkBoxList">
                    <input type="checkbox" class="filled-in" id="FirstName" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="FirstName">First Name</label>
                    <input type="checkbox" class="filled-in" id="LastName" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="LastName">Last Name</label>
                    <input type="checkbox" class="filled-in" id="JobTitle" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="JobTitle">Job Title</label>
                </div>

                <div class="tabControl">
                    <ul class="tabs">
                        <li class="tab" href="#publishData" (click)="OnPublish($data)"><a>Publish</a></li>
                        <li class="tab" (click)="OnExport($data)"><a class="active">Export</a></li>
                    </ul>

                    <div id="publishData" class="col s12">
                        <span class="title">Coming soon</span>
                    </div>

                    <div id="sidePanelExportData" class="col s12">
                        <sg-origami-csv [orgChartData]="orgChart" [orgName]="companyName"></sg-origami-csv>
                        <sg-origami-png [width]="svgWidth" [height]="svgHeight" [selectedOrgNode]="selectedNode" [orgName]="companyName"></sg-origami-png>
                    </div>
                </div>
            </div>
            <div id="feedbackPanel">
                <div class="feedbackPanel">
                    <div class="feedbackTitle" (click)="openOrCloseFeedBackPanel()"> <i class="material-icons">{{feedbackIcon}}</i> <span>Feedback</span></div>

                    <div class="divider"></div>
                    <div class="input-field col s9">
                        <textarea placeholder="Share you feedback! Feature requests? Bugs? Compliments? Constructive criticism?" cols="50" id="feedbacktxt" [(ngModel)]="feedbackDescriptionText" autocomplete="off"></textarea>
                    </div>
                    <button class="waves-effect waves-light btn right" (click)="onFeedbackSend()"> 
                      <i class="material-icons left">send</i>SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>