.auth_panel {
    height: 55px;
}

.auth_panel button {
    float: right;
    margin-left: 0.7em;
}

.auth_panel .nav-wrapper i.material-icons {
    font-size: 1.2em;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #cfd8dc;
    background-color: var(--silver);
    border: none;
    margin: 0;
}

nav {
    background-color: #ffffff;
    background-color: var(--white-text);
    z-index: 1;
}

nav,
nav .nav-wrapper i,
nav .nav-wrapper>ul>li,
nav .nav-wrapper>ul>li>a,
nav a.button-collapse,
nav a.button-collapse i {
    height: 55px;
    line-height: 55px;
}

nav .brand-logo {
    margin-left: 50px;
    color: #333333;
    font-size: 3.2em;
    font-weight: 300;
}

nav .brand-logo img {
    max-width: 140px;
}

nav ul a {
    color: #607d8b;
    color: var(--blue-grey);
}

nav ul a i.right,
nav ul a i.left {
    margin: 0 5px;
}

.userName {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#userDropdown {
    top: 55px !important;
}

#userDropdown .collection-item.avatar {
    min-height: 65px;
    padding: 10px 25px 10px 70px;
}

#userDropdown .collection-item.avatar img {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#userDropdown .collection-item.avatar p {
    margin: 0;
}

#userDropdown .collection-item.avatar .title {
    padding: 0;
}

.caption {
    color: #757575;
    color: var(--warm-grey-three);
    font-size: 11px;
    white-space: nowrap;
    z-index: 1;
}

.dropdown-content li {
    min-height: 0px;
}

nav ul.dropdown-content li:first-child:hover {
    background-color: transparent !important;
    cursor: default;
}

.dropdown-content li>a {
    padding: 10px 13px;
    font-size: 13px;
    display: block;
    line-height: 5px;
    font-weight: 500;
}

.dropdown-content li:last-child>a {
    padding: 15px 13px;
}

.dropdown-content li>a>i {
    height: inherit !important;
    line-height: inherit !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
    display: inline-block;
}

.dropdown-content li>a>i.small {
    line-height: normal !important
}

#groupDropdown.dropdown-content li>a {
    width: 200px;
}

#groupDropdown.dropdown-content li>a>.small:hover {
    color: #0097ff;
    color: var(--azure);
}

#groupDropdown.dropdown-content li>a>p {
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    cursor: pointer;
    width: 155px;
}

#groupDropdown.dropdown-content li>a>p>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: normal;
    float: right;
    font-size: 85%;
}

#groupDropdown.dropdown-content li>a>p>span:first-child {
    width: 128px;
    float: left;
    font-size: 100%;
}

#groupDropdown.dropdown-content {
    max-height: 350px;
    overflow-x: hidden;
}

.divider {
    margin-bottom: 1px;
    overflow: none !important;
}

.lbl {
    font-size: 0.98em;
    color: #727272;
    color: var(--warm-grey-two);
    display: inline-flex;
}

.lblResult {
    float: right;
}

.defaultlbl {
    padding: 2px 12px;
    font-size: x-small;
    width: 100%;
    height: 10px;
    line-height: normal;
    display: table;
}

.fixed {
    position: fixed;
    z-index: 1;
}

#groupDropdown li a.active {
    border-left: 0.18em solid #607d8b;
    border-left: 0.18em solid var(--blue-grey);
    font-weight: 800 !important;
    cursor: pointer;
}

.exportLbl {
    margin: 30px 0;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    padding: 0px;
    border: 0px solid #888;
    width: 22%;
    min-width: 325px;
    height: 400px;
    top: 18.5%;
    margin: 10px auto;
    position: relative;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* The Close Button */

.close {
    float: right;
    color: #ffffff;
    color: var(--white-text);
    background-color: #607d8b;
    background-color: var(--blue-grey);
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.close i {
    padding: 3px 3.5px;
}

.company_groupDetails {
    padding: 10px;
}

.company_groupDetails i,
.company_groupDetails input {
    color: #607d8b;
    color: var(--blue-grey);
}

.modaltitle {
    color: #979797 !important;
    color: var(--warm-grey) !important;
    display: block;
    height: 40px;
}

.modaltitle .title {
    display: inline-block;
    margin: 12px 10px 5px;
}

.modaltitle .title .material-icons {
    margin: 4px 15px 0 5px;
    font-size: 1em;
}

.modaltitle .title label {
    font-size: 1.15em;
    font-weight: 100;
    color: #979797;
    color: var(--warm-grey);
}

.titlewithdivider .divider {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.titlewithdivider .lbl {
    display: inline-block;
    color: #607d8b;
    color: var(--blue-grey);
}

.modaldefaultlabel {
    color: #607d8b !important;
    color: var(--blue-grey)!important;
    font-size: 0.6rem;
    display: block;
    padding-left: 40px;
}

.modallbl {
    color: #111;
    font-size: 0.6rem;
    padding-left: 55px;
    display: block;
}

input {
    width: 87%;
    height: 25px;
    margin-bottom: 2px;
}

.btn.waves-effect {
    background-color: #0097FF;
    background-color: var(--azure);
    padding: 5px 0.9rem;
    font-size: 0.75rem;
    border-radius: 0px;
    max-height: 30px;
    line-height: normal;
    margin: 0px 50px;
    text-transform: initial;
}

.btn i {
    font-size: 1rem;
    line-height: inherit;
    margin-right: 8px;
    vertical-align: text-bottom
}

.import {
    margin: 15px 0 15px;
}

.lblgroupname {
    color: #111;
    font-size: 0.6rem;
    font-weight: 800;
}

.groupBody {
    height: 325px;
    padding-right: 5px;
}

.template {
    padding-top: 10px;
}

.delete {
    color: #D0021B;
    text-align: center;
}

.delete .btn.waves-effect {
    background-color: #ffffff;
    background-color: var(--white-text);
    color: #D0021B;
    font-weight: bolder;
    margin: 0px;
    width: 100%;
    font-size: 14px;
}

.delete .btn i {
    font-size: larger;
}

#groupDropdown .lblCount {
    padding-top: 0.5px;
    font-weight: normal;
}

#deleteGroupConfirm {
    display: none;
    padding: 8em 2em;
}

.loadscreen {
    display: none;
    padding: 8em 3em;
    font-size: 0.9rem;
}

.loadscreen img {
    width: 100%;
}

#export {
    margin-top: -34px;
    margin-left: -155px;
}

#deleteGroup .btn {
    box-shadow: none;
}

@media only screen and (max-width:992px) {
    nav .brand-logo {
        left: 0%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@media only screen and (max-width:768px) {
    nav ul a {
        padding: 0;
    }
    nav .brand-logo {
        position: relative;
        margin-left: 20px;
    }
}