<div class="sideNav fixed">
    <div class="menuButton">
        <a class="waves-effect waves-light" (click)="openPanel()"><i class="material-icons">folder_shared</i></a>
    </div>
    <div id="menuPanel" class="right">
        <div style="min-height: 600px;overflow: hidden;">
            <div>
                <button class="waves-effect waves-light closebtn" (click)="closePanel()"><i class="material-icons">close</i></button>
                <hr/>
            </div>
            <div *ngIf="currentMode===1">
                <button class="waves-effect waves-light deletebtn right" (click)="onDeleteOrCancelNodeClicked()"> <i class="material-icons">{{deleteOrClose}}</i></button>
                <button class="waves-effect waves-light editbtn right" (click)="onEditOrSaveNodeClicked()"><i class="material-icons">{{editOrSave}}</i></button>
                <button *ngIf="selectedNode && selectedNode.ParentNodeID" [ngClass]="moveActive" class="waves-effect waves-light movebtn right" (click)="onMoveNodeClicked()"><i class="material-icons">shuffle</i></button>
            </div>
            <label class="menuTitle">Resource</label>
            <div class="detail_wrap">
                <form #orgform="ngForm" *ngIf="selectedOrgNode" (keyup.enter)="onEditOrSaveNodeClicked()" (ngSubmit)="onSubmit()">
                    <div *ngIf="selectedNode && isEditModeEnabled" class="form-group text-wrap">
                        <div class="edit-name">
                            <input type="text" class="h-1 title-name-edit form-control firstName" (keyup)="onEditInputKeyUp($event,firstName)" ngControl="firstName" #firstName="ngModel" [ngModel]="selectedNode.NodeFirstName" placeholder="First Name" name="firstName" autocomplete="off">
                            <input type="text" class="h-1 title-name-edit form-control" (keyup)="onEditInputKeyUp($event,lastName)" ngControl="lastName" #lastName="ngModel" [ngModel]="selectedNode.NodeLastName" placeholder="Last Name" name="lastName" autocomplete="off" />
                            <input type="text" class="h-3 title-position-edit form-control" (keyup)="onEditInputKeyUp($event,description)" ngControl="description" #description="ngModel" [ngModel]="selectedNode.Description" placeholder="Description" name="description" autocomplete="off">
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="selectedNode && !isEditModeEnabled" class="labelWrap">
                <p class="lblName"> {{selectedNode.NodeFirstName}} {{selectedNode.NodeLastName}}</p>
                <p class="lblJobTitle"> {{selectedNode.Description}} </p>
            </div>
            <div *ngIf="currentMode===1 || currentMode===2">
                <label class="menuTitle">Stats</label>
                <hr/>
                <div class="labelWrap">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <p class="lblReport">Direct Reports </p>
                            <label class="secondary-content">{{directReportees}}</label>
                        </li>
                        <li class="collection-item avatar">
                            <p class="lblReport">Total Reports </p>
                            <label class="secondary-content">{{totalReportees}}</label>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div *ngIf="currentMode===3">
                <hr/>
                <label class="menuTitle">Settings</label>
                <div class="checkBoxList">
                    <input type="checkbox" class="filled-in" id="FirstName" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="FirstName">First Name</label>
                    <input type="checkbox" class="filled-in" id="LastName" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="LastName">Last Name</label>
                    <input type="checkbox" class="filled-in" id="JobTitle" checked="checked" (change)="setLabelVisiblity($event)" />
                    <label for="JobTitle">Job Title</label>
                </div>
                <hr/>
                <label class="menuTitle">View as </label>
                <div class="radioboxList">
                    <input class="with-gap" name="view" type="radio" id="verticalView" (change)="changeViewVericalOrHorizonatl($event)" />
                    <label for="verticalView">Vertical</label>
                    <input class="with-gap" name="view" type="radio" id="horizontalView" (change)="changeViewVericalOrHorizonatl($event)" />
                    <label for="horizontalView">Horizontal</label>
                </div>
                <div class="tabControl">
                    <ul class="tabs">
                        <li class="tab" href="#publishData" (click)="OnPublish($data)"><a>Publish</a></li>
                        <li class="tab" (click)="OnExport($data)"><a class="active">Export</a></li>
                    </ul>
                    <div id="publishData" class="col s12">
                        <span class="title">Coming soon</span>
                    </div>
                    <div id="sidePanelExportData" class="col s12">
                        <export-csv [orgChartData]="orgChart" [orgName]="companyName"></export-csv>
                        <export-png [width]="svgWidth" [height]="svgHeight" [selectedOrgNode]="selectedNode" [orgName]="companyName" [isHorizontalTree]="isHorizontalTree"></export-png>
                    </div>
                </div>
            </div>
            <div id="feedbackPanel">
                <div class="feedbackPanel">
                    <div class="feedbackTitle" (click)="openOrCloseFeedBackPanel()"> <i class="material-icons">{{feedbackIcon}}</i> <span>Feedback</span></div>
                    <div class="divider"></div>
                    <div class="input-field col s9">
                        <textarea (keyup)="OnKeyDown($event)" placeholder="Share your feedback! Feature requests? Bugs? Compliments? Constructive criticism?" cols="50" id="feedbacktxt" [(ngModel)]="feedbackDescriptionText" autocomplete="off"></textarea>
                    </div>
                    <button id="sendFeedback" class="waves-effect waves-light btn right" (click)="onFeedbackSend()"> 
                      <i class="material-icons left">send</i>SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteNodeModal" class="modal">
    <div class="modal-content">
        <div class="modaltitle">
            <div class="title">
                <i class="Small material-icons left">mode_edit</i>
                <label>Delete Node Confirmation</label>
            </div>
            <div class="close" (click)="dismissPopup()"><i class="material-icons">clear</i></div>
        </div>
        <div class="divider"></div>
        <div id="deleteNodeConfirm" class="center">
            <confirm-button [hideMessage]="false" [titleName]="name" [deleteTitle]="deleteTitle" (onConfirmClick)="onNodeDeleteConfirm($event)" (onCancelClick)="onCancelDelete($event)">
            </confirm-button>
        </div>
        <div id="deleteChildNodeConfirm" class="center">
            Delete Child Node First!
            <div>
                <button class="waves-effect waves-light btn" (click)="onCancelDelete($event)">OK</button>
            </div>
        </div>
    </div>
</div>