<div *ngIf="tutorialEnabled">
    <div *ngIf="tutorialMode === 1" class="tutorial-wrap" id="tutorialStart">
        <div class="tutorial-wrap-content">
            <div id="start-Tutorial">
                <div class="tutorial-header">
                    <span class="tutorial-label-header">60 Second Tutorial </span>
                    <span class="tutorial-label">Learn how to build your first org chart! </span>
                </div>

                <div class="svg-divider">
                    <img src="/assets/images/tutorial-header.svg">
                </div>
                <div class="mode-wrap tutorial-header">
                    <div class="mode create-modelbl">
                        <label class="mode-header-label"><span> 1 </span> Create </label>
                        <label class="mode-desc-label">Add a node</label>
                    </div>
                    <div class="mode add-modelbl">
                        <label class="mode-header-label"><span> 2</span> Add</label>
                        <label class="mode-desc-label">Build Relationships</label>
                    </div>
                    <div class="mode edit-modelbl">
                        <label class="mode-header-label"><span> 3</span> Edit</label>
                        <label class="mode-desc-label">Get the Details</label>
                    </div>
                </div>
                <div class="tour center">
                    <button class="waves-effect waves-light btn" (click)="skipTutorial()"><i class="material-icons">keyboard_arrow_left</i>No Thanks, I'm good!</button>
                    <button class="waves-effect waves-light btn" (click)="startTutorial()">GET STARTED <i class="material-icons">keyboard_arrow_right</i> </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tutorialMode === 3" [ngClass]="smartBarTip" id="smart-bar-tooltip">
        <div>
            <p class="headerlbl" id="tutorialTitle"> </p>
        </div>
        <div class="instruction">
            <p class="actionlbl" id="tutorialContent"> </p>
        </div>
    </div>

    <div *ngIf="tutorialMode === 4" class="tutorial-wrap" id="tutorial-skip-or-Continue">
        <div class="tutorial-wrap-content">
            <div>
                <div class="skip">
                    Looks like you're going your own way! Would you like to continue?
                </div>
                <div class="tour center">
                    <button class="waves-effect waves-light btn" (click)="skipTutorial()"><i class="material-icons">keyboard_arrow_left</i>No thanks, I'm done!</button>
                    <button class="waves-effect waves-light btn" (click)="continueTutorial()"><i class="material-icons">keyboard_arrow_right</i>Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tutorialMode === 5" class="tutorial-wrap" id="tutorial-end-or-restart">
        <div class="tutorial-wrap-content">
            <div>
                <div class="tutorial-header">
                    <span class="tutorial-label-header">60 Second Tutorial </span>
                    <span class="tutorial-label">It's that easy! Once you're done, check out the reports screen to export your work </span>
                </div>

                <hr/>
                <div class="tour center">

                    <button class="waves-effect waves-light btn" (click)="restartTutorial()">See it again <i class="material-icons">keyboard_arrow_right</i></button>
                    <button class="waves-effect waves-light btn" (click)="skipTutorial()">Good to go! <i class="material-icons">keyboard_arrow_right</i></button>
                </div>
            </div>
        </div>
    </div>

</div>