<div class="tutorial-wrap" id="tutorialStart">
    <div class="tutorial-wrap-content">
        <div class="tutorial-header">
            <span class="tutorial-label-header">60 Second Tutorial </span>
            <span class="tutorial-label"> Everything needed to get off the ground running.</span>
        </div>

        <hr>
        <div class="mode-wrap tutorial-header">
            <div class="mode">
                <label class="mode-header-label"> 1 Build </label>
                <label class="mode-desc-label">Add Resources</label>
            </div>
            <!--<div class="mode">
                <label class="mode-header-label"> 2 Explore </label>
                <label class="mode-desc-label">Navigate Groups</label>
            </div>-->
            <div class="mode">
                <label class="mode-header-label"> 2 Report </label>
                <label class="mode-desc-label">Export Charts</label>
            </div>
        </div>

        <div class="tour center">
            <button class="waves-effect waves-light btn" (click)="skipTutorial()"><i class="material-icons">keyboard_arrow_left</i>SKIP</button>

            <button class="waves-effect waves-light btn" (click)="startTutorial()">GET STARTED <i class="material-icons">keyboard_arrow_right</i> </button>

        </div>


    </div>
</div>