.sideNav {
    position: fixed;
    right: 0;
    top: 58px;
    height: 100%;
    overflow-x: hidden;
    min-width: 40px;
}

.sideNav i {
    font-size: 1.3rem;
    line-height: 1.53em;
}

.sideNav hr {
    width: 100%;
    height: 1px;
    background-color: #607d8b;
    border: none;
    margin: 0;
}

.sideNav button {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #607d8b;
    color: #fff;
    border: none;
}

.sideNav i.left {
    margin: 0 8px;
}

.sideNav .menuButton {
    position: absolute;
    right: 0;
    z-index: -1;
}

.sideNav #menuPanel {
    width: 5px;
    height: 100%;
    min-height: 585px;
    z-index: 10;
    background-color: #455a64;
    overflow-x: scroll;
    transition: 0.5s;
}

.sideNav .closebtn {
    width: 30px;
    height: 30px;
    background-color: #607d8b;
    border: 0;
}

.sideNav .menuTitle {
    padding-left: 15px;
    font-size: 0.85em;
    font-weight: 700;
    color: #607d8b;
}

.sideNav p.lblName {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color: #cfd8dc;
    line-height: initial;
}

.sideNav p.lblJobTitle {
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    color: #b6b6b6;
    line-height: initial;
}

.sideNav .labelWrap {
    margin: 15px 30px 15px 50px;
}

.sideNav .labelWrap .collection {
    border: none;
}

.sideNav .labelWrap .collection .collection-item {
    padding: 3px 0;
    border: none;
    background-color: transparent;
    min-height: 10px;
}

.sideNav .labelWrap .collection .collection-item .secondary-content {
    color: #b6b6b6;
    float: none;
    top: 3px;
    right: inherit;
    font-weight: 500;
    font-size: 0.9em;
}

.sideNav .lblReport {
    font-size: 0.9em;
    font-weight: 500;
    color: #b6b6b6;
    width: 115px;
    display: inline-block;
}

.sideNav .checkBoxList {
    position: absolute;
    margin: 22px 50px;
}

[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #0097FF;
    background-color: #0097FF;
    z-index: 0;
    font-size: 0.9em;
    font-weight: 350;
    color: #b6b6b6;
    line-height: initial;
    border-radius: 0;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-size: 0.8rem;
}

[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 3px;
    width: 5px;
    height: 10px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    top: 0px;
    z-index: 0;
}

.sideNav .tabList {
    padding-top: 250px;
}

.tabControl {
    margin-top: 270px;
}

.tabs .tab.disabled {
    background-color: #607d8b;
    cursor: default;
}

.disabled a {
    text-align: center;
    padding-top: 5px;
    opacity: 0.5;
}

ul.tabs {
    background-color: transparent;
    height: 25px;
    cursor: default;
    width: 240px !important;
    font-size: 0.8rem;
}

a {
    text-align: center;
    padding-top: 3px;
}

.active {
    color: #fff;
    background-color: #455a64;
    height: 41px;
    cursor: pointer;
    border-top: 3px solid #607d8b;
}

.tabs .tab a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .tab {
    line-height: normal;
    text-transform: none;
    height: inherit;
}