/* Color palette */

:root {
    --azure: #0097ff;
    --black-50: rgba(0, 0, 0, 0.5);
    --silver: #cfd8dc;
    --blue-grey: #607d8b;
    --black: #222222;
    --warm-grey-two: #727272;
    --warm-grey: #979797;
    --greyish: #b6b6b6;
    --white: #fafafa;
    --nice-blue: #1565c0;
    --slate: #455a64;
    --white-text: #ffffff;
}


/* Text styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);*/

.h-1 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 21px;
    font-weight: bold;
    color: #ffffff;
    color: var(--white-text);
    background-color: transparent;
}

.h-3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 16px;
    font-weight: normal;
    color: #ffffff;
    color: var(--white-text);
    background-color: transparent;    
}