.main-canvas {
    float: left;
    width: 100%;
    overflow-x: auto;
}

.modes-wrap {
    width: 100px;
    position: absolute;
    left: 30px
}

.modes-wrap li {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

.modes-wrap li.nav-build {
    background-image: url("app/images/nav-build.png");
}

.modes-wrap li.nav-build.active {
    background-image: url("app/images/nav-build-active.png");
}

.modes-wrap li.nav-explore {
    background-image: url("app/images/nav-explore.png");
}

.modes-wrap li.nav-explore.active {
    background-image: url("app/images/nav-explore-active.png");
}

.modes-wrap li.nav-report {
    background-image: url("app/images/nav-report.png");
}

.modes-wrap li.nav-report.active {
    background-image: url("app/images/nav-report-active.png");
}

.modes-wrap li>a {
    width: 28px;
    line-height: 43px;
    font-family: Roboto, HelveticaNeue;
    font-size: 12px;
    font-weight: 400;
    color: #607d8b;
    margin-left: 55px;
}

.modes-wrap li.active>a {
    font-weight: 800;
}

@media only screen and (max-width:600px) {
    .main-canvas {
        height: auto;
    }
    .modes-wrap {
        top: 65px;
        left: 10px;
    }
}