<div class="auth-panel">
    <h2>Organization Chart</h2>
    <button class=" btn-white" (click)="logout()">
        Logout
     </button>
    <button class=" btn-white" (click)="getAllNodes()">
        Load Data
    </button>
</div>

<div class="modes-wrap ">
    <ul>
        <li *ngIf="currentChartMode!==1" class="nav-build" (click)="changeToBuildMode()"><a class="view-inactive-text"> Build</a ></li>
        <li *ngIf="currentChartMode===1" class="nav-build-active" ><a class="view-active-text"> Build</a ></li>
        <li *ngIf="currentChartMode!==2" class="nav-explore "><a class="view-inactive-text">Explore</a></li>
        <li *ngIf="currentChartMode===2" class="nav-explore-active "><a class="view-active-text">Explore</a></li>
        <li *ngIf="currentChartMode!==3 && !isAddOrEditMode " class="nav-report" (click)="changeToReportMode()"><a class="view-inactive-text">Report</a> </li>
        <li *ngIf="currentChartMode===3 " class="nav-report-active"><a class="view-active-text">Report</a> </li>

    </ul>
</div>

<div class="main-canvas" *ngIf="orgChart" (window:resize)="onResize($event)">
    <sg-org-tree [treeData]="treeJson" [width]="svgWidth" [height]="svgHeight" [currentMode]="currentChartMode" [isAddOrEditModeEnabled]="isAddOrEditMode"
        (selectNode)="onNodeSelected($event)" (switchToAddMode)="onSwitchedToAddMode($event)">
    </sg-org-tree>
</div>

<div *ngIf="currentChartMode===1">
    <sg-org-node-detail #nodeDetail [selectedOrgNode]="selectedNode" [isAddOrEditModeEnabled]="detailAddOrEditMode" (deleteNode)="onNodeDeleted($event)"
        (updateNode)="onNodeUpdated($event)" (addNode)="onNodeAdded($event)" (setAddOrEditModeValue)="onAddOrEditModeValueSet($event)">
    </sg-org-node-detail>
</div>

<div *ngIf="currentChartMode===3">
    <sg-origami-csv [orgChartData]="orgChart"></sg-origami-csv>
    <sg-origami-png [orgName]="orgChart.OrganizationName"></sg-origami-png>
</div>