.confirmImport .btn {
    margin: 0px 10px;
}

.confirmImport label {
    color: #666;
    font-size: 0.78rem;
    font-weight: 600;
    word-wrap: normal;
}

.confirmImport .confirmbtns {
    padding-top: 18px;
}