.confirmImport .btn {
    margin: 0px 10px;
}

.confirmImport p {
    color: #666;
    text-align: center;
}

.confirmImport p strong {
    color: #607d8b;
}

.confirmImport .confirmbtns {
    padding-top: 18px;
}