<div class="auth_panel">
    <!-- User Dropdown Structure -->
    <ul id="userDropdown" class="dropdown-content">
        <li class="collection-item avatar">
            <img [src]="userModel.Picture" alt="">
            <p>{{userModel.Name}}</p>
            <p class="caption">{{userModel.Email}}</p>
        </li>
        <li class="divider"></li>
        <li (click)="auth.logout()"><a><i class="material-icons left">remove_circle</i>Logout</a></li>
    </ul>

    <ul id="groupDropdown" class="dropdown-content">
        <li>
            <label class="defaultlbl">My Organizations</label>
        </li>
        <li *ngFor="let group of orgCompanyGroups" (click)="onGroupSelection(group)">
            <a *ngIf="group && group.IsDefaultGroup && group.OrgGroupID === selectedGroup.OrgGroupID" class="active">
                <i class="small material-icons left" (click)="onAddOrSettingsClick('group',group)">mode_edit</i>
                <p class="editgroupname" (click)="onGroupSelection(group)">
                    <span>{{group.GroupName}} </span>
                    <span class="lblCount">{{group.OrgNodeCounts}}</span>
                </p>
            </a>
            <a *ngIf="group && !group.IsDefaultGroup && group.OrgGroupID !== selectedGroup.OrgGroupID">
                <i class="small material-icons left" (click)="onAddOrSettingsClick('group',group)">mode_edit</i>
                <p class="editgroupname" (click)="onGroupSelection(group)">
                    <span>{{group.GroupName}} </span>
                    <span class="lblCount">{{group.OrgNodeCounts}}</span>
                </p>
            </a>
        </li>
        <li class="divider"></li>
        <li><a (click)="onAddOrSettingsClick('newGroup')"><i class="material-icons left">add</i><span class="lbl">Add New</span></a></li>
    </ul>

    <nav class="fixed">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="http://peopletree.io/images/pt-logo-beta.png" /> </a>
            <ul class="right">
                <li *ngIf="selectedGroup">
                    <a class="dropdown-button group" data-activates="groupDropdown">
                        <i class="material-icons left">apps</i>
                        <span class="hide-on-small-only">{{selectedGroup.GroupName}}</span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li *ngIf="userModel">
                    <a class="dropdown-button" data-activates="userDropdown">
                        <i class="material-icons left">person</i>
                        <span class="userName hide-on-small-only">{{userModel.Name}}</span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--modal for group settings and New Group-->

<div id="groupSettingsModal" class="modal">
    <div class="modal-content">
        <div class="modaltitle">
            <div class="title">
                <i class="small material-icons left">mode_edit</i>
                <label>{{groupSettingTitle}}</label>
            </div>
            <div class="close" (click)="dismissPopup()"><i class="material-icons">clear</i></div>
        </div>
        <div class="divider"></div>
        <div class="groupBody">
            <div id="groupSaveOrEdit">
                <form>
                    <div class="company_groupDetails">
                        <i class="material-icons left">label_outline</i>
                        <input required #existingGroupName="ngModel" ngControl="existingGroupName" [(ngModel)]="groupName" name="existingGroupName" autocomplete="off" (blur)="onGroupSave($event)" (keyup.enter)="onGroupSave($event)" />
                        <div>
                            <label class="modaldefaultlabel"> Name Of Organization </label>
                        </div>
                    </div>
                </form>
            </div>
            <div id="importAndTemplate">
                <div *ngIf="(!isImport) || groupSettingTitle=== 'Add New Group'">
                    <div class="import">
                        <div class="inlineblock titlewithdivider">
                            <div class="divider"> </div>
                            <label class="lbl">Import</label>
                            <label class="modallbl"> Load resources from CSV or Excel file to populate the <label class="lblgroupname"> {{groupName}} </label> organization.</label>
                        </div>
                    </div>
                    <div>
                        <button class="waves-effect waves-light btn" [ngClass]='{disabled: isImportDisabled}' (click)="onClickOnImport()">
                    <i class="material-icons">file_upload</i>Import</button>
                    </div>
                    <div class="template" id="downloadTemplate">
                        <div class="import">
                            <div class="inlineblock titlewithdivider">
                                <div class="divider"> </div>
                                <label class="lbl">Export Template</label>
                            </div>
                            <div class="template">
                                <button class="waves-effect waves-light btn" [ngClass]='{disabled: isImportDisabled}' (click)="onClickDownloadTemplate()">
                             <i class="material-icons">file_download</i>Download</button>
                            </div>
                        </div>
                    </div>
                    <div class="template" id="exportData">
                        <div class="import">
                            <div class="inlineblock titlewithdivider">
                                <div class="divider"> </div>
                                <label class="lbl">Export</label>
                            </div>
                            <div class="template" id="export" *ngIf="selectedCompany && selectedCompany.CompanyName && selectedGroup">
                                <export-csv [orgChartData]="selectedGroup" [orgName]="selectedGroup.GroupName"></export-csv>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isImport">
                    <import-csv (newOrgNodes)="updateNewOrgGroup($event)" [selectedGroup]="selectedGroup"></import-csv>
                </div>
            </div>
            <div id="deleteGroupConfirm" class="center">
                <confirm-button [hideMessage]="false" [titleName]="name" [deleteTitle]="deleteTitle" (onConfirmClick)="onGroupDeleteConfirm($event)" (onCancelClick)="onGroupDeleteCancel($event)">
                </confirm-button>
            </div>
            <div id="groupDeleteLoader" class="loadscreen center">
                <div>
                    <img src="assets/images/loading.gif" alt="Please wait...">
                    <label class="lblLoad"> Deleting Please wait...</label></div>
                <div>
                    <label class="lblLoad">(This may take a minute)</label>
                </div>
            </div>
        </div>

        <div class="divider"></div>
        <div class="delete" id="deleteGroup">
            <button *ngIf="!isImport" class="waves-effect waves-light btn" (click)="onDeleteGroupClicked()">
            <i class="material-icons">delete</i>Delete</button>
        </div>
    </div>
</div>