nav {
    background-color: #ffffff;
    background-color: var(--white-text);
    z-index: 1;
}

nav,
nav .nav-wrapper i,
nav .nav-wrapper>ul>li,
nav .nav-wrapper>ul>li>a,
nav a.button-collapse,
nav a.button-collapse i {
    height: 55px;
    line-height: 55px;
}

nav .brand-logo {
    margin-left: 50px;
    color: #333333;
    font-size: 3.2em;
    font-weight: 300;
}

nav .brand-logo img {
    max-width: 140px;
}

nav ul a {
    color: #607d8b;
    color: var(--blue-grey);
}

nav ul a i.right,
nav ul a i.left {
    margin: 0 5px;
    font-size: 20px;
}

.dropdown-content {
    top: 55px !important;
}

.dropdown-content li {
    min-height: 0px;
    font-size: 13px;
}

.dropdown-content li:last-child a {
    padding: 10px;
    font-size: 13px;
}

.dropdown-content .collection-item.avatar {
    min-height: 65px;
    padding: 10px 25px 10px 70px;
}

.dropdown-content .collection-item.avatar img {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-content .collection-item.avatar p {
    margin: 0;
}

.dropdown-content .collection-item.avatar .title {
    padding: 0;
}

.dropdown-content li>a>i {
    height: inherit !important;
    line-height: inherit !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
    display: inline-block;
}

.dropdown-content .caption {
    color: #757575;
}

.collapsible-header {
    display: flex;
}

.collapsible-header img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.collapsible-header p {
    vertical-align: middle;
    margin: auto 10px;
    width: 100%
}

.collapsible-header p.count {
    width: 10%
}

.collapsible-body p {
    padding: 10px 2rem;
}

.collapsible-body .companyDetails hr {
    margin: 0 2rem;
    border-color: #ccc;
    opacity: 0.2;
}

@media only screen and (max-width:992px) {
    nav .brand-logo {
        left: 0%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@media only screen and (max-width:768px) {
    nav ul a {
        padding: 0;
    }
    nav .brand-logo {
        position: relative;
        margin-left: 20px;
    }
}