.png_wrap {
    text-align: center;
}

.waves-effect {
    background-color: #0097FF;
    padding: 0px 0.8rem;
    margin-top: 7px;
    font-size: 0.7rem;
    border-radius: 0px;
    height: 31px;
}

.btn i {
    font-size: 1rem;
    line-height: inherit;
    margin-right: 8px;
}