<div class="smart-bar-wrap">
    <form>
        <div center class="input-field">
            <input *ngIf="!selectedOrgNode" id="searchNodes" type="text" required placeholder="Search" name="searchTerm" (keyup)="onInputSearch($event)" [(ngModel)]="searchTerm" autocomplete="off">
            <ul *ngIf="selectedOrgNode" class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-state-default ui-corner-all" (click)="addNodes.focus()">
                <li #token *ngFor="let val of value" class="ui-autocomplete-token ui-state-highlight ui-corner-all">
                    <span class="ui-autocomplete-token-icon fa fa-fw fa-close" (click)="removeItem(token)"></span>
                    <span class="ui-autocomplete-token-label">{{field ? val[field] : val}}</span>
                </li>
                <li class="ui-autocomplete-input-token">
                    <input #addNodes type="text" required placeholder="Search, Add Resources" name="multiInTerm" (keyup)="onInputMultiSearch($event)" [(ngModel)]="multiInTerm" autocomplete="off">
                </li>
            </ul>
        </div>
    </form>
    <div *ngIf="searchInProgress" class="search">
        <ul id="searchSelection">
            <li style="font-size: 65%; padding: 2px 10px;">Find</li>
            <li class="header">{{ searchHeader }}</li>
            <li *ngFor="let nameData of nameSearchResults" class="nameSearch" (click)="onNodeSleect($event,nameData)">
                <a>
                    <i class="material-icons ">search</i> {{nameData.Name}} <span class="title "> {{nameData.Title}}</span>
                </a>
            </li>
            <li *ngIf="nameSearchResults.length===0">
                <i class="material-icons ">search</i> No Results
            </li>
            <li *ngIf="!isTitleSelected" class="header">BY TITLE</li>
            <li *ngFor="let titleData of titleSearchResult " class="titleSearch" (click)="onTitleFilterSelect($event,titleData)">
                <a>
                    <i class="material-icons ">search</i> {{titleData.Name}} <i class="material-icons right ">keyboard_arrow_right</i>
                    <span class="badge right "> {{titleData.Count}}</span>
                </a>
            </li>
            <li *ngIf="titleSearchResult.length===0">
                <i class="material-icons ">search</i> No Results
            </li>
        </ul>
    </div>
</div>