.detail-wrap {
    height: 58px;
    min-width: 30px;
    position: fixed;
    background-color: #0097ff;
    /*background-color: var(--azure);*/
    bottom: 5px;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    /*box-shadow: 0 2px 4px 0 var(--black-50);*/
}

.orgFormControls {
    left: 20px;
    top: 0;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 11;
}

.text-wrap {
    position: relative;
    padding-left: 60px;
    margin: 11px 0;
    color: #FFFFFF;
    width: 390px;
    max-width: 100%;
}

.title-name {
    font-size: 1.1em;
    font-weight: bolder;
}

.title-name-edit {
    width: 140px;
    border: none;
    display: inline-block;
    padding: 1px 2px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title-position {
    font-size: 0.9em;
}

.title-position-edit {
    width: 140px;
    border: none;
    padding: 1px 2px;
    display: block;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.edit-icon {
    background-image: url("app/images/btn-edit-details.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    bottom: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.save-icon {
    background-image: url("app/images/btn-save-details.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    bottom: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.close-icon {
    background-image: url("app/images/btn-delete-node.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.delete-icon {
    background-image: url("app/images/btn-delete.png");
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442;
    /* red */
}