.detail-wrap {
    height: 58px;
    min-width: 25px;
    position: fixed;
    background-color: #0097ff;
    /*background-color: var(--azure);*/
    bottom: 5px;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    /*box-shadow: 0 2px 4px 0 var(--black-50);*/
}

.orgFormcontrols {
    left: 20px;
    top: 0;
    height: 100%;
    display: inline-block;
    float: left;
    float: left;
    position: absolute;
    z-index: 11;
}

.text-wrap {
    position: relative;
    padding-left: 60px;
    margin: 11px 0;
    color: #FFFFFF;
    width: 260px;
}

.title-name {
    font-size: 1.1em;
    font-weight: bolder;
}

.title-name-edit {
    font-size: 0.9em;
    font-weight: bolder;
    width: 46%;
    height: 18px;
    margin-bottom: 4px;
    border: none;
    float: left;
}

.title-position {
    font-size: 0.9em;
}

.title-position-edit {
    font-size: 0.8em;
    width: 92%;
    height: 18px;
    border: none;
}

.edit-icon {
    background-image: url("app/images/btn-edit-details.png");
    background-repeat: no-repeat;
    border:none;
    position: absolute;
    bottom: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.save-icon {
    background-image: url("app/images/btn-save-details.png");
    background-repeat: no-repeat;
    border:none;
    position: absolute;
    bottom: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.close-icon {
    background-image: url("app/images/btn-delete-node.png");
    background-repeat: no-repeat;
    border:none;
    position: absolute;
    top: 0;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442;
    /* red */
}