.detail-wrap {
    height: 50px;
    min-width: 25px;
    position: fixed;
    background-color: #029BFF;
    bottom: 5px;
    left: 0;
}

.orgFormcontrols {
    left: 10px;
    top: 0;
    width: 25px;
    height: 100%;
    display: inline-block;
    float: left;
    position: absolute;
    z-index: 11;
}

.text-wrap {
    position: relative;
    padding-left: 45px;
    margin: 5px 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 260px;
}

.title-name {
    font-size: 1.1em;
    font-weight: bolder;
}

.title-name-edit {
    font-size: 0.9em;
    font-weight: bolder;
    width: 46%;
    height: 18px;
    margin-bottom: 4px;
    border: none;
    float: left;
}

.title-position {
    font-size: 0.9em;
}

.title-position-edit {
    font-size: 0.8em;
    width: 92%;
    height: 18px;
    border: none;
}

.edit-icon {
    background-image: url("app/images/pen.png");
    background-color: #1565C0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    bottom: 2px;
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    cursor: pointer;
}

.save-icon {
    background-image: url("app/images/save.png");
    background-color: #1565C0;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 5px;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 4px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.close-icon {
    background-image: url("app/images/close.png");
    background-color: #1565C0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    top: 2px;
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    cursor: pointer;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442;
    /* red */
}