<div id="importFile">
    <div>
        <label class="modallbl"> Load resources from CSV or Excel file to populate the <label class="lblgroupname"> {{selectedGroupName}} </label> group.</label>
    </div>

    <div class="valign-wrapper">
        <span class="fileinput-button waves-effect">
            <h5>Drop Excel or CSV file here</h5>
            <i class="material-icons driveicon">insert_drive_file</i>
            <h5>Or</h5>
            <button class="waves-effect waves-light btn" (click)="onImport()">
                <i class="material-icons">file_upload</i>Browse
            </button>
            <input type="file" (click)="onImportClick($event)" (change)="onImportChange($event)" accept=".csv" />
        </span>
    </div>
</div>
<div id="loadScreen" class="loadscreen center">
    <div>
        <img src="app/images/loading.gif" alt="Please wait...">
        <label class="lblLoad"> Loading Please wait...</label></div>
    <div>
        <label class="lbl">(This may take a minute)</label>
    </div>
    <div>
        <button id="cancelbtn" class="waves-effect waves-light btn" (click)="onCancelImport(true)">Cancel</button>
    </div>
</div>
<div id="templateScreen" class="templateScreen center">
    <div>
        <label *ngIf="hasMultipleParent">
             The file you tried to upload has multiple root nodes. Please download the template and try again. 
        </label>
        <label *ngIf="!hasMultipleParent">
           The file you tried to upload was not formatted correctly. Please download the template and try again.
        </label>
    </div>
    <div class="template">
        <button class="waves-effect waves-light btn" (click)="onCancelImport(true)"><i class="material-icons">arrow_back</i>Back</button>
        <button class="waves-effect waves-light btn" (click)="onClickDownloadTemplate()"><i class="material-icons">file_download</i>Download</button>

    </div>
</div>
<div id="confirmImport" class="confirmImport">
    <div class="row">
        <div class="col s12 divspacing">
            <h6> File : <b>{{fileName}}</b></h6>
        </div>
        <hr/>
        <div *ngIf="!hasMultipleParent">
            <div class="col s9 divspacing">
                <h6>Import Resource Count: </h6>
                <h6 class="subtitles"> Total Resources found in import</h6>
            </div>
            <div class="col s3 divspacing">
                <h6 class="right"><b>{{mappedNodesCount}}</b></h6>
            </div>
            <div class="col s9 divspacing">
                <h6>Unmapped Resource Count: </h6>
                <h6 class="subtitles">
                    Resources in import file without a parent. This will be accessible from search, but not visible in tree until defined
                </h6>
            </div>
            <div class="col s3 divspacing">
                <h6 class="right"><b>{{unmappedNodesCount}}</b></h6>
            </div>
            <div class="row">
                <div class="col s7 divspacing">
                    <h6>Head of Group : </h6>
                    <h6 class="subtitles"> Person identified as head of the group. Must map to a single person for each group.</h6>
                </div>
                <div class="col s5 divspacing">
                    <h6 class="right"><b>{{defaultNode.NodeFirstName}} {{defaultNode.NodeLastName}}</b></h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <sg-org-menu-confirm-button [hideMessage]="true" (onConfirmClick)="onConfirm($event)" (onCancelClick)="onCancelImport($event)">
        </sg-org-menu-confirm-button>
    </div>
</div>